<div class="main">
	<div class="main-image">
		<img src="img/main.jpg" />
	</div>
	<div class="projects-container">
		<div class="project" ng-repeat="project in projects | filter: query">
			<div class="project-thumbnail">
				<a ng-href="#/projects/{{project.name}}">
					<img ng-src="{{project.thumbnail_url}}" />
				</a>
			</div>
			<div class="project-details">
				<h3><a ng-href="#/projects/{{project.name}}">{{project.name}}</a></h3>
				<p>{{project.description | limitTo: 115}}{{project.description.length > 20 ? '...' : ''}}</p>
			</div>
		</div>
	</div>
</div>
