body {
  background-color: #eae7e4;
  font: 16px/1.8 'Source Sans Pro', Helvetica Neue, Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  color: #3e3e3e;
}
p {
  color: #554e4c;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #f5634a;
}
.container {
  width: 980px;
  height: 1542px;
  margin: 60px auto;
}
/* Sidebar */
.sidebar {
  width: 200px;
  height: 1260px;
  float: left;
}
.sidebar input {
  background: url("../img/search.png") no-repeat scroll 94% center #fff;
  -moz-box-sizing: border-box;
  border: 1px solid #ccc;
  color: #808080;
  display: block;
  font: 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 20px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
  padding: 10px 14px;
  width: 170px;
  -webkit-appearance: none !important;
  webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}
.sidebar .filters {
  text-transform: capitalize;
}
.sidebar-links {
  margin-top: 20px;
  padding: 10px 0px;
}
.sidebar-links a {
  display: block;
}
.sidebar .search {
  margin-top: 20px;
}
.main-image {
  border: 6px solid #fff;
  border-radius: 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 transparent, 0 0 0 transparent;
  height: 501px;
  width: 740px;
  float: right;
  margin-bottom: 25px;
}
.projects-container {
  width: 765px;
  float: right;
  margin-right: -25px;
}
.project {
  display: inline-block;
  width: 230px;
  margin-right: 25px;
  margin-bottom: 25px;
}
.project .project-thumbnail {
  height: 184px;
}
.project-details {
  background-color: white;
  padding: 15px;
}
.project-details h3 a{
  font-size: 0.875em;
  line-height: 1.6em;
  font-weight: 700;
  margin: 0 0 5px;
}
.project-details p {
  font-size: 0.813em;
  line-height: 1.6em;
}
/* Project Detail */
.project-main {
  width: 740px;
  float: right;
}
.border-top {
  border-top: 1px solid #d4cdc7;
}
.border-bottom {
  border-bottom: 1px solid #d4cdc7;
}
.page-heading {
  padding: 10px 0px;
  width: 740px;
  position: relative;
  margin-bottom: 30px;
}
.page-heading h1 {
  margin: 0;
  font-size: 1.625em;
  line-height: 1.5em;
  font-weight: 500;
}
.project-main .main-image {
  float: none;
}
#footer-wrap {
  background-color: #2d2d2d;
  height: 368px;
}
#footer {
  position: relative;
  width: 980px;
  margin: 0 auto;
  padding: 60px 0 0;
  color: #797979;
  font-size: 0.938em;
}

/* Media Queries */
@media screen and (max-width: 414px) {
  body {
    position: absolute;
    width: 100%;
  }
  .container {
    width: 280px;
    height: auto;
    margin-top: 30px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .sidebar {
    width: 100%;
    height: auto;
    float: none;
    text-align: center;
  }
  .sidebar .logo {
    width: 280px;
  }
  .sidebar img {
    width: 100%;
    height: auto;
  }
  input.search {
    display:none;
  }
  #footer-wrap {
    background-color: #2d2d2d;
    height: 368px;
  }
  #footer {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 60px 0 0;
    color: #797979;
    font-size: 0.938em;
  }
  /* Project Index */
  .main .main-image {
    display: none;
  }
  .projects-container {
    width: 100%;
    float: none;
    margin-right: 0px;
    margin-top: 25px;
  }
  .projects-container .project {
    margin-right: 0px;
    width: 100%;
  }
  .projects-container .project .project-thumbnail {
    height: 225px;
  }
  .projects-container .project .project-thumbnail img {
    width: 280px;
    height: auto;
  }
  /* Project Detail */
  .project-main {
    width: 280px;
    float: none;
  }
  .project-main .page-heading {
    width: 100%;
    border-top: none;
  }
  .project-main .main-image {
    display: none;
  }
}