<div class="sidebar">
	<a href="#/">
		<img src="img/logo.png"/>
	</a>
	<!-- <input placeholder="Type to search" ng-model="query"></input>
	<div class="filters" ng-repeat="category in categories | orderBy : +name ">
		<a href="#">{{category}}</a>
	</div>	 -->
</div>
<div class="project-main" ng-repeat="project in projects | filter: project">
	<div class="page-heading">
  	<h1 class="inline-block">{{project.name}}</h1>
  </div>
	<div class="main-image">
		<img ng-src="{{project.image_url}}"/>
	</div>
	<p>{{project.description}}</p>
</div>
